name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create config.js
        run: |
          echo "const CONFIG = {" > js/config.js
          echo "    API_URL: 'https://data.moenv.gov.tw/api/v2/aqx_p_432'," >> js/config.js
          echo "    API_KEY: '${{ secrets.API_KEY }}'" >> js/config.js
          echo "};" >> js/config.js
          echo "" >> js/config.js
          echo "export default CONFIG;" >> js/config.js

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          exclude_assets: '.github, .gitignore, README.md'
