name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create key.js
        run: |
          echo "export const API_KEY = '${{ secrets.API_KEY }}';" > js/key.js
          
          # Remove .gitignore so that the generated js/key.js is not ignored by the deploy action
          rm .gitignore

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          exclude_assets: '.github, .gitignore, README.md'
